body {
    font-family: Arial, sans-serif;
    background: #e7f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-contenedor {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    text-align: center;
}

.login-contenedor2 {
    background: #a5d8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    text-align: center;
}

.contenedor-imagen{
    border-radius: 5px;
    margin-top: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 120px;
}

.login-btn:hover {
    background: #5563c1;
}

.registro-link {
    margin-top: 170px;
    font-size: 14px;
}

.recuperar-contrasena{
    margin-top: 5px;
    font-size: 14px;
}

.registro-link a {
    color: #667eea;
}

.recuperar-contrasena a{
    color: #667eea;
}

.registro-link a:hover {
    text-decoration: underline;
}

.recuperar-contrasena a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}