<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
</head>
<body>
    <div class="login-contenedor" align="TOP">
        <h1>digite una nueva contrase&ntilde;a</h1>
        <input type="password" name="" id="" placeholder="Digite su nueva contrase&ntilde;a" [(ngModel)]="contrasena" required> <br>
        <button type="submit" class="submit-btn" (click)="resetearContrasena()" >Confirmar</button>
    </div>
    
</body>
</html>