body {
    font-family: Arial, sans-serif;
    background: #e7f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-contenedor {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    text-align: center;
}


input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.submit-btn {
    width: 54%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 50px;
}

.submit-btn:hover {
    background: #5563c1;
}
h1 {
    margin-top: 150px;
    font-size: 30px;
}