<app-menu></app-menu>

<div class="productos-container">
  <div class="buscar" *ngIf="(token && rol == 'cliente') || rol == 'admin'">
    <input type="text" placeholder="buscar producto" [(ngModel)]="nombreProducto" (keypress)="buscarProducto()" name="" id="" class="buscar-producto"/>
</div>
  <div class="crear" *ngIf="token && rol == 'vendedor'">
    <!-- (click)="abrirModal()" -->
    <button (click)="abrirModal('crear', '')">Crear Producto</button>
  </div>
  <div class="productos">
    <div class="producto" *ngFor="let producto of productos">
      <h2>{{ producto.nombre }}</h2>
      <img src="{{ url + producto.imagen }}" alt="{{ producto.nombre }}" />
      <p>Precio: {{ producto.costoVenta }}</p>

      <div class="vendedor" *ngIf="(token && rol == 'vendedor') || rol == 'admin'">
        <button (click)="eliminarProducto(producto.id)">Eliminar Producto</button>
        <button (click)="abrirModal('editar', producto.id)" *ngIf="(token && rol == 'vendedor')">editar producto</button>
        <a href="detallesProducto?idProducto={{producto.id}}" *ngIf="(token && rol == 'admin')"><button>Detalles producto</button></a>

      </div>

      <div class="agregarAlCarrito" *ngIf="token && rol == 'cliente'">
        <input type="number" name="" id="" min="1" max="{{ producto.stock }}" [(ngModel)]="producto.cantidad" placeholder="Cantidad "
        />
        <button (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
      </div>
      <br />
      <div class="comprarProducto" *ngIf="token && rol == 'cliente'">
        <button (click)="agregarAlCarrito(producto)">comprar producto</button>
        <a href="detallesProducto?idProducto={{producto.id}}"><button>ver detalles</button></a>
      </div>
    </div>
  </div>
</div>



<div class="modal">
  <div class="modal-content">
    <button class="close" (click)="cerrarModal()">&times;</button>
    <h2>{{accion}} Producto</h2>
      <span>nombre actual {{ producto.nombre}}</span>
      <input type="text" name="" [(ngModel)]="formData.nombre" id="" placeholder="Nombre producto" required />
      <span>descripcion actual {{ producto.descripcion}}</span>
      <input type="text" name="" [(ngModel)]="formData.descripcion" id="" placeholder="Descripcion producto" required />
      <input accept="image/png" *ngIf="accion == 'crear'" type="file"  name="" [(ngModel)]="imagen" id="imagen" placeholder="Imagen producto" required />
      <span>costo produccion actual {{ producto.costoProduccion}}</span>
      <input type="number" name="" [(ngModel)]="formData.costoProduccion" id="" placeholder="Costo produccion producto" required />
      <span>costo venta actual {{ producto.costoVenta}}</span>
      <input type="number" name="" [(ngModel)]="formData.costoVenta" id="" placeholder="Costo venta producto" required />
      <span>stock actual {{ producto.stock}}</span>
      <input type="number" name="" [(ngModel)]="formData.stock" id="" placeholder="Stock producto" required />
      <span>estado actual {{ producto.status}}</span>
      <select name="" [(ngModel)]="formData.status" id="">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
      <button (click)="crearProducto()" *ngIf="accion == 'crear'">Crear Producto</button>
      <button (click)="editarProducto(producto.id)" *ngIf="accion == 'editar'">editar Producto</button>


  </div>
</div>


