<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
</head>
<body>
    <div class="login-contenedor" align="TOP">
        <h1>digite el correo para recuperar su contrase&ntilde;a</h1>
        <input type="email" name="" id="" placeholder="Digite su correo" [(ngModel)]="correo" required> <br>
        <button type="submit" class="submit-btn" (click)="recuperarContrasena()">Confirmar</button>
    </div>
    
</body>
</html>