<div class="registro-contenedor" align="TOP">
    <h2>crear usuario</h2>
    <form action="#" method="POST" (ngSubmit)="funcion()">
        <div class="input-group inline">
            <div class="input-field">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" placeholder="Ingresa tu nombre" name="nombre" [(ngModel)]="UsuarioData.nombre" required>
            </div>
            <div class="input-field">
                <label for="edad">Edad</label>
                <input type="number" id="edad" placeholder="0" name="edad" [(ngModel)]="UsuarioData.edad" required>
            </div>
        </div>
        <div class="input-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" placeholder="Ingresa tus apellidos" name="apellidos" [(ngModel)]="UsuarioData.apellido" required>
        </div>
        <div class="input-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" placeholder="Ingresa tu email" name="correo" [(ngModel)]="UsuarioData.correo" required>
        </div>
        <div class="input-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ingresa tu contraseña" name="contrasena" [(ngModel)]="UsuarioData.contrasena" required>
        </div>
        <div class="input-group inline">
            <div class="input-field">
                <label for="colonia">Colonia</label>
                <input type="text" id="colonia" placeholder="Ingresa tu colonia" name="colonia" [(ngModel)]="dom.colonia" required>
            </div>
            <div class="input-field">
                <label for="cp">Codigo Postal</label>
                <input type="number" id="cp" placeholder="00000" min="10000" max="99999" name="cp" [(ngModel)]="dom.cp" required>
            </div>
        </div>
        <div class="input-group inline">
            <div class="input-field">
                <label for="calle">Calle</label>
                <input type="text" id="calle" placeholder="Nombre de tu calle" name="calle" [(ngModel)]="dom.calle" required>
                <label for="telefono">numero de telefono</label>
                <input type="number" id="telefono" placeholder="Ingresa tu telefono" name="telefono" [(ngModel)]="UsuarioData.telefono" required>
            </div>
            <div class="input-field">
                <label for="nCasa">Numero de casa</label>
                <input type="text" id="nCasa" placeholder="Ingresa tu numero de casa" name="nCasa" [(ngModel)]="dom.numero" required>
                <label for="rol">seleccione su rol</label>
                <select name="rol" id="rol" [(ngModel)]="UsuarioData.rol" required>
                    <option value="cliente">cliente</option>
                    <option value="vendedor">vendedor</option>
                </select>
            </div>

        </div>
        <button type="submit" class="register-btn">Registrarse</button>
    </form>
</div>