<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu-container">
        <a href="/info" class="img"><img src="assets/deportics.png" alt=""></a>
        <a href="/admin/panel" class="menu-item" *ngIf="rol == 'admin'">Panel</a>
        <a href="/productos" class="menu-item">Productos</a>
        <a href="/carrito" class="menu-item" *ngIf="rol == 'cliente'">Carrito</a>
        <a href="/pedidos" class="menu-item" *ngIf="rol == 'cliente'">Pedidos</a>
        <!-- <a href="/vendedor/panel" class="menu-item" *ngIf="rol == 'vendedor'">Panel</a> -->


        <a href="" class="menu-item menu-item-logout" *ngIf="rol" (click)="logout()">Cerrar Sesion</a>
        <a href="" [routerLink]="'/registro'" class="menu-item menu-item-logout-Registrarse" *ngIf="!rol" >Registrarse</a>
        <a href="" class="menu-item menu-item-logout" *ngIf="!rol" [routerLink]="'/inicioSesion'">Iniciar Sesion</a>

    </div>
    
</body>
</html>