<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <li *ngIf="rol == 'admin'"><a href="#">Home</a></li>
            <li *ngIf="rol == 'cliente'"><a href="#">About</a></li>
            <li *ngIf="rol == 'vendedor'"><a href="#">Contact</a></li>
            <li><a href="#">Cerrar sesion</a></li>
        </ul>
    </nav>
</body>
</html>