.pedidos table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
.pedidos th, .pedidos td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.pedidos th{
    background-color: #f2f2f2;
}
.pedidos button{
   width: 100px;
   height: 30px;
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 10px auto;
   display: block;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
}
.pedidos button:hover{
    background-color: #0056b3;
}
.pedidos button:active{
    background-color: #003b80;
}
.pedidos .pedido{
    background-color: #f9f9f9;
}
.pedidos .pedido td{
    text-align: center;
}
.pedidos .cancelar button{
    background-color: #e74c3c;
}
.pedidos .cancelar button:hover{
    background-color: #c0392b;
}
.pedidos .pagar button{
    background-color: #34db66;
}
.pedidos .pagar button:hover{
    background-color: #2980b9;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;    
    z-index: 1000;
}
.modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 800px;
    text-align: center;
    position: relative;
    z-index: 1001;
}
.modal-content h2{
    margin-bottom: 20px;
}
.modal-content p{
    margin-bottom: 20px;
}
.modal-content button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content button:hover{
    background-color: #0056b3;
}
.modal-content .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.modal-content .close:hover{
    color: #ff0000;
}
.modal-content .close:focus{
    outline: none;
}
.modal-content .close:active{
    transform: scale(0.9);
}
.modal-content .close:focus{
    outline: none;
}
.modal-content .close:hover{
    color: #ff0000;
}
.modal-content .close:active{
    transform: scale(0.9);
}