<app-menu></app-menu>

<div class="detalle-producto">
  <div class="volver">
    <a href="productos" class="btn-volver"><span style="font-size: 24px; font-weight: bold; ">&#8592;</span></a>
  </div>
    <h1>Detalles del Producto</h1>
  
    <div class="producto-info">
      <img [src]="url + producto[0].imagen" alt="{{ producto[0].nombre }}" class="producto-imagen" />
  
      <div class="producto-detalles" >
        <h2>{{ producto[0].nombre }}</h2>
        <p><strong>Descripción:</strong> {{ producto[0].descripcion }}</p>
        <p><strong>Costo de Venta:</strong> {{ producto[0].costoVenta }}</p>
        <p><strong>Stock:</strong> {{ producto[0].stock }}</p>

        <div class="agregar-carrito">
          <input type="number" class="cantidad" placeholder="Cantidad de productos" name="" id="">
          <button>Agregar al Carrito</button>
        </div>
      </div>
    </div>
  </div>